* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html
body { 
    font-family: "Roboto", sans-serif;
font-weight: 300;
line-height: 1.4;
scroll-behavior: smooth;
}
nav {
    display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}
.logo img {
width: 150px;
height: auto;
}
.center-nav{
display: flex;
}
.search{
    display: flex;
}
.search input{
min-width: 600px;
padding: 10px 20px;
border: 0.5px solid #ccc;
}
.search button{
border: none;
padding: 10px 20px;
}
.mic{
padding: 15px;
border-radius: 50%;
    background-color: #dfdbdb;
display: grid;
place-items: center;
margin-left: 15px;
}
.mic image{
    width: 30px;
}
.side-nav{
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
margin-right: 50px;
}
.tags{
display: flex;
padding: 10px 20px;
gap: 15px;
border-top: 1px solid #ccc;
}
.tag{
padding: 5px 15px;
border-radius: 20px;
border: 1px solid rgb(22,22,22);
}
.dark{
background-color: #000;
color: white;
}
.light{
    background-color: rgb(238,238,238);
    color: rgb(67,67,67);
}
.container{
display: flex;
}

aside{
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
}
.side-icons{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.side-icons img{
width: 80px;
}
.side-icons p{
margin-top: -5px;
}
.bars{
margin-top: 20px;
}
.main-container{
width: 100%;
}
main{
    min-height: 100vh;
background: rgb(240, 238, 238.);
}
.card-container{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}
.card{

    padding: 10px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}
.avatar-content{
padding-top: 10px;
display: flex;
gap: 15px;
}
.card h3{
    font-size: 15px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.channel-name{
    font-size: 16px;
    font-weight: bold;
}
.content-status{
display: flex;
font-size: 14px;
gap: 10px;
}